table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-input-element {
  color: #99a21f;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(168, 187, 116);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: rgb(168, 187, 116);
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

mat-chip-list{
  width: 60%;
  padding: 4px;
}

.film-colum{
  width: 40%;
}
